<nav class="navbar">
  <a class ="navbar-brand" href="#">
    <img class="nav_bar_logo" src='/docs/horizontal_logo.png'>
  </a>

    <a class ="nav-item" href="#">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </a>

    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" name="navbar_search" method ="GET" action="/search" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>


    <a class ="nav-item" href="#">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </a>
    <a class = "nav-item user_button" href="#">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= user_name[0].name %>
    </a>
</nav>
