<nav class="navbar">
  <a class ="navbar-brand" href="#">
    <img class="nav_bar_logo" src='/docs/logo.png'>
  </a>
    <a class ="nav-item" href="#">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </a>
    <a class ="nav-item" href="#">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </a>
    <a class = "nav-item user_button" href="#">
      <i class="fa fa-user" aria-hidden="true"></i>
      <%= user_name[0].name %>
    </a>
</nav>
