<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c9776dca59.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  </head>
  <body id = "font_override" class="container">

    <% include ./partials/_nav-bar %>

    <div>
      <form class="container" action="/" method="POST">
        <div class="form-group row">
          <label for="resource_title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-5">
            <input type="name" class="form-control" id="resource_title" name="resource_title" placeholder="Title">
          </div>
        </div>
        <div class="form-group row">
          <label for="resource_url" class="col-sm-2 col-form-label">URL</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="resource_url" name="resource_url" placeholder="URL">
          </div>
        </div>
        <div class="form-group row">
          <label for="resource_description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-5">
            <input type="description" class="form-control" id="resource_description" name="resource_description" placeholder="Description">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputTopicName3" class="col-sm-2 col-form-label">Topic</label>
          <div class="col-sm-5">
            <select name="select_topic">
              <% for (topic of topics) { %>
              <option value="<%=topic.name%>"><%=topic.name%></option>
            <% } %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create resource!</button>
          </div>
        </div>
      </form>
    </div>

    <main>
      <h3 class = "main_header">
      <span class="header_horizontal_line">
      All Resources
      </span>
      </h3>


      <section class="col-sm-5 category">
        Category
        <select name="all">
          <% for (topic of topics) { %>
            <option value="<%=topic.name%>"><%=topic.name%></option>
            <% } %>
          </select>
        </section>


      <section class="container">
        <div class="row justify-content-around">
          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>


          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah this is going to be longer description to see how its going to look with the
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf_2394 </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>


          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf_2394 </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>
        </div>
      </section>


      <section class="container">
        <div class="row justify-content-around">
          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf_2394 </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>


          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah this is going to be longer description to see how its going to look with the
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf_2394 </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>


          <article class="col-4 resource-block">
            <div class="card-header">
              Resource Title
            </div>
            <div class="card-text">
              Resource Description here and there blah blah
            </div>
            <div class="card-footer">
              <div class="url-like">
                <span class="url"> www.google.ca/laiwjf_2394 </span>
                <span class="like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
              </div>
              <div class="username-comments">
                <span class="username">By username_1</span>
                <span class="comments"> <i class="fa fa-comments" aria-hidden="true"></i> Comments </span>
              </div>
            </div>
          </article>
        </div>
      </section>



    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </body>
</html>
