<!DOCTYPE html>
<html lang="en">
<script src="https://use.fontawesome.com/c9776dca59.js"></script>

Hello! You aren't logged in.

<form method="POST" action="/login/1">
  <button type="submit" class="btn btn-primary">Login as user 1</button>
</form>

<form method="POST" action="/login/2">
  <button type="submit" class="btn btn-primary">Login as user 2</button>
</form>

<form method="POST" action="/login/3">
  <button type="submit" class="btn btn-primary">Login as user 3</button>
</form>

</html>
