<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c9776dca59.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  </head>
  <body id = "font_override">
    <nav>
      <img class ="nav_bar_logo" src='../public/docs/logo.png'>
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <div class = "user_button">
      <i class="fa fa-user" aria-hidden="true"></i>
      username
      </div>
    </nav><BR><BR><BR>
      <div class="card-header">
        Resource Title
      </div>
      <div class="card-block">
        <p class="card-text"> Resource Description </p>
      </div>
      <div class="card-footer text">
        <div class="user-comments">
          <span class = "user_name"> By username_1 </span>
        </div>
        <div class="url-likes">
          <span class = "like"> <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart" aria-hidden="true"></i> 5 </span>
        </div>
      </div><BR><BR><BR>
        <div class="comments_footer">
        <i class="fa fa-comments fa-3x" aria-hidden="true"></i>
        <h4 class = "comments_header"> Comments </h4><hr><br>
          <H6 class = "user_name"> By Username_1 </H6><br>
          <H8 class = "comments_field"> I can't believe you made such a fuggly page</H8><br><br>
      </div>

        <section class="new_comments">
          <h2 class="inputheader">Comments</h2>
          <form method="POST" action="/comments">
          <textarea class="commentform" name="text" placeholder="What are you thinking?" maxlength="250"></textarea><br>
          <input type="submit" value="Submit">
          </form>
        </section>

    </main>
  </body>
</html>
