$primary-color: #8DA9C4;
$card-hover-color: #13315C;
$card-hover-font: #F4F4F4;

.nav_bar {
}

.nav_bar_logo {
  height: 50%;
  width: 50%;
}

a {
  color: black;
  size: 200%
}

a .fa {
  color: black;
}

.user_button {
  background: $primary-color;
  padding: 10px;
  border-radius: 5px;
}

form {
  &.container {
    display: none;
  }
}

.navbar-form {
  display: none;
}

nav div.form-group {
  margin: 0;
  display: inline-block;
}

nav input.form-control {
  display: inline-block;
}

nav button.btn {
  display: inline-block;
}

i {
  &.fa.fa-heart-o {
    display: none;
  }
}

/*main*/

h3 {
  position: relative;
  padding-top: 20px;
}

.header_horizontal_line {
  background-color: #EEE;
  padding-right: 10px;
  padding-left: 30px;
}

h3:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}

.category {
  padding: 20px 0 0 30px;
}

div {
  &.resource_id_hidden {
    display: none;
  }
  &.user_id_hidden {
    display: none;
  }
  &.hidden_user_id {
    display: none;
  }
}

body {
  background-color: #EEE;
  font-family: 'Istok Web', sans-serif;

  h1 {
    color: #244751;
  }
}

// Resource Cards
.container {
  padding: 30px 30px;
}

.resource-block {
  &:hover .card-header {
    background: $card-hover-color;
    color: $card-hover-font;
  }
  &:hover .card-footer {
    background: $card-hover-color;
    color: $card-hover-font;
  }
  &:hover .card-text {
    color: #030C17;
  }
  padding: 20px;
}

.card-header {
  font-size: 23px;
  background: $primary-color;
}

.card-text {
  background-color: #F3F5F8;
  font-size: 16px;
  padding: 10px;
  height: 150px;
  color: #9B9B9B;
}

.card-footer {
  background: $primary-color;
}

.url-like {
}

.url {
  font-size: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px
}

.like {
  display: inline-block;
  float: right;
}

.username-comments {
}

.username {
  font-size: 10px;
}

.comments {
  float: right
}
